nav{
    background-color: black;
}
.txtfor{
    text-align: center;
    color: rgb(0, 255, 170);
}
body{
    background-color: rgb(0, 0, 0);
}

.imgstyle{
    margin-left: 40%;
    border-radius: 50%;
    width: 300px;
    height: 400px;  
}

.stylefortxt{
    margin-left: 40%;

}

.f{
    color: white;
    text-align: center;
    /* margin: 50%; */
}

.f2{
    margin: 50%;
    color: white;
}

